<h1>Carritos</h1>

<div class="estructuraCarts">
<div id="carritos">

</div>


<div id="cartDetails">
    
</div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/carts.js"></script>