<h1>Carritos</h1>

<div class="estructuraCarts">
<div id="carritos" class="carritos">

</div>


<div id="cartDetails" class="cartDetails">
    
</div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/carts.js"></script>