<h2>Chat</h2>


<div class="chat">
    <div class="sendMsg">
        <h3>Enviar Mensaje</h3>
        <form id="createMessage">
            <div class="mb-3">
                <label>User Mail</label>
                <input type="mail" name="user" id="user" />
            </div>
            <div class="mb-3">
                <label>Mensaje</label>
                <input type="text" name="message" id="message" />
            </div>
            
            <button type="sumbit" id="btnSendMsg" style="margin-top: .5rem; margin-left:8.2rem">Enviar Mensaje</button>
    </div>
    <div id="msgHistory" class="historial">
        

    </div>
</div>



<script src="/socket.io/socket.io.js"></script>
<script src="./js/chat.js"></script>