<h1>Pagina login</h1>

{{message}}

<form method="post" action="/login">
    <input type="email" name="userEmail" placeholder="correo" id="">
    <input type="password" name="password" placeholder="password" id="">
    <button>Iniciar sesión</button>
</form>
