<h3>Pagina login</h3>

{{message}}
{{error}}

<form method="post" action="/login" class="formLogin">
    <div>
        <input type="email" name="userEmail" placeholder="correo" id="">
        <input type="password" name="passUser" placeholder="password" id="">
    </div>
    <div>
        <button>Iniciar sesión</button>
    </div>
</form>
<p class="formLogin" style="color:rgb(48, 29, 147); padding-top: 6rem;"> o logueate con: </p>
<div class="formLogin" >
    <a href="/signup-github">
        <button>
            <img src="https://www.svgrepo.com/show/475654/github-color.svg" class="logoGit" alt="logo-Git" />
        </button>
    </a>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>