<h3>Pagina login</h3>

{{message}}
<p id="errorMsg">{{error}}</p>
 
<form class="formLogin" id="loginForm">
    <div>
        <input type="email" name="userEmail" placeholder="correo">
        <input type="password" name="passUser" placeholder="password">
    </div>
    <div>
        <button>Iniciar sesión</button>
    </div>
</form>
<p class="formLogin" style="color:rgb(48, 29, 147); padding-top: 6rem;"> o logueate con: </p>
<div class="formLogin" >
    <a href="/signup-github">
        <button>
            <img src="https://www.svgrepo.com/show/475654/github-color.svg" class="logoGit" alt="logo-Git" />
        </button>
    </a>
</div>

<script src="/js/signup.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>