<h1>Pagina login</h1>

{{message}}
{{error}}

<form method="post" action="/login">
    <input type="email" name="userEmail" placeholder="correo" id="">
    <input type="password" name="passUser" placeholder="password" id="">
    <button>Iniciar sesión</button>
</form>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>