

<h1 class="title">Listado de productos y agregar</h1>


<div class="addAndSee">

    <div class="add">
    <h3>Agregar producto</h3>
        <form id="createProductForm">
        <div class="mb-3">
            <label>Titulo</label>
            <input type="text"  name="title" id="title" />
        </div>
        <div class="mb-3">
            <label >Descripción</label>
            <input type="text" name="description" id="description" />
        </div>
        <div class="mb-3">
            <label>Precio</label>
            <input type="number" name="price" id="price" />
        </div>
        <div class="mb-3">
            <label>Status</label>
            <input type="text" name="status" id="status" />
        </div>
        <div class="mb-3">
            <label>Stock</label>
            <input type="number" name="stock" id="stock" />
        </div>
        <div class="mb-3">
            <label>Categoria</label>
            <input type="text" name="category" id="category" />
        </div>
        <div class="mb-3">
            <label>Code</label>
            <input type="number" name="stock" id="stock" />
        </div>
        <div class="mb-3">
            <label>Url de imagen</label>
            <input type="text" name="thumbnail" id="thumbnail" />
        </div>
        <button type="sumbit" id="btnEnviar">Agregar prod</button>
    </form>
    </div>
    <hr>

    <div class="see">
        <h3>Listado de productos actualizado</h3> 
        {{!-- le indico de que array voy a renderizar --}}

        <div id="productList">
            

        </div>
        <div id="carritos"></div>
    </div>

</div>
{{!-- importar socket.io desde el front --}}
<script src="/socket.io/socket.io.js"></script> 
<script src="/js/realTimeProducts.js"></script>