<h1>PAgina signup</h1>
{{error}}
<form method="post" action="/signup">

    <input type="text" name="first_name" placeholder="nombre de usuario" id="">
    <input type="text" name="last_name" placeholder="apellido de usuario" id="">
    <input type="number" name="age" placeholder="edad de usuario" id="">
    <input type="email" name="userEmail" placeholder="correo de usuario" id="">
    <input type="password" name="password" placeholder="password de usuario" id="">
    <button>Registrate</button>
</form>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>