*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


.footer {
    position: sticky;
    bottom: 0;
    z-index: 1;

}
    .estructuraCarts {

        display: flex;
        flex-direction: column;
    }

    .carritos {
        align-self: center;
    }

    .imgCartDetail {
        width: 4rem;
        height: 4rem;
    }

    .cartDetails {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .menu{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   height: 2rem;
    background-color: rgb(62, 62, 123);
   position: sticky;
   padding: 2rem;
    top: 0;
    z-index: 1;
}

