*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.homeProd{
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    
}

.homeP{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    
}
.btn-filter {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
    padding:3rem 5rem;
}

.btnFilter {
    background-color: blue;
    color: white;
    text-decoration: none;
}

.limite {
    display: flex;
    padding-right: 1rem;
    justify-content: end;
}

.menu{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   height: 2rem;
    background-color: rgb(62, 62, 123);
   position: sticky;
   padding: 2rem;
    top: 0;
    z-index: 1;
}

.menuItem {
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(62, 62, 123);
    font-size: 1.3rem;
}

.footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.productList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 5rem;
    gap: 8rem;
    }

* {
    background-color: skyblue;
}